<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
   <head xml:lang="en" lang="en">
      <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
      <title>
            {% if page.title %}{{ page.title }}{% else %}Vargoville{% endif %} -
            {% if page.subtitle %}{{ page.subtitle }}{% else %}the blog of bvargo{% endif %}
      </title>
      <link rel="stylesheet" type="text/css" href="/blog/css/main.css" />
      <link rel="stylesheet" type="text/css" href="/blog/css/code.css" />
      <link rel="alternate"  type="application/atom+xml" title="Blog - Atom" href="/blog/atom.xml" />
      <link rel="alternate"  type="application/rss+xml"  title="Blog - RSS" href="/blog/rss.xml" />
   </head>
   <body>
      <div class="container">
         <div class="title">
            {% if page.title %}{{ page.title }}{% else %}Vargoville{% endif %}
         </div>
         <div class="subtitle">
            {% if page.subtitle %}{{ page.subtitle }}{% else %}the blog of bvargo{% endif %}
         </div>
         <div class="menu">
            <a href="/">Home</a> |
            <a href="/blog/">Blog</a>
         </div>
         <div class="content">

            {{ content }}

         </div>
      </div>

      <script type="text/javascript" src="/awstatsjs/awstats_misc_tracker.js"></script>
      <noscript><img src="/awstatsjs/awstats_misc_tracker.js?nojs=y" height="0" width="0" border="0" style="display: none" alt="" /></noscript>
      <img src="/map/log.php" height="0" width="0" border="0" style="display: none" alt="" />
      <script type="text/javascript">
         var pkBaseURL = (("https:" == document.location.protocol) ? "https://bvargo.com/piwik/" : "http://bvargo.com/piwik/");
         document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
         </script><script type="text/javascript">
         try {
            var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 3);
            piwikTracker.trackPageView();
            piwikTracker.enableLinkTracking();
         } catch( err ) {}
      </script><noscript><p><img src="http://bvargo.com/piwik/piwik.php?idsite=3" style="border:0" alt="" /></p></noscript>
   </body>
</html>
